<table width="100%" style="border:none">
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td></td>
    <td></td>
  </tr>

    <tr>
      <td style="width: 10%"><strong>&nbsp; </strong> </td>
      <td style="width: 60%">&nbsp;</td>
      <td style="width: 10%"><strong>&nbsp;</strong> </td>
      <td>&nbsp;</td>
    </tr>
     <tr>
      <td style="width: 10%"><strong>&nbsp; </strong> </td>
      <td style="width: 60%">&nbsp;</td>
      <td style="width: 10%"><strong>&nbsp;</strong> </td>
      <td>&nbsp;</td>
    </tr>
     <tr>
      <td style="width: 10%"><strong>&nbsp; </strong> </td>
      <td style="width: 60%">&nbsp;</td>
      <td style="width: 10%"><strong></strong> </td>
      <td></td>
    </tr>

    <tr>
      <td><strong>&nbsp; </strong></td>
      <td> </td>
      <td><strong></strong> </td>
      <td> </td>
    </tr>
    <tr>
      <td style="width: 10%"><strong>&nbsp; </strong> </td>
      <td style="width: 60%">&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td style="width: 10%"><strong></strong> </td>
      <td></td>
    </tr>
    <tr>
      <td style="width: 10%"><strong>&nbsp; </strong> </td>
      <td style="width: 60%">&nbsp;</td>
      <td style="width: 10%"><strong></strong> </td>
      <td></td>
    </tr>
     <tr>
      <td style="width: 10%"><strong>&nbsp;</strong> </td>
      <td style="width: 60%">&nbsp;</td>
      <td style="width: 10%"><strong></strong> </td>
      <td></td>
    </tr>
    <tr>
      <td style="width: 10%"><strong>&nbsp;</strong> </td>
      <td style="width: 60%">&nbsp;</td>
      <td style="width: 10%"><strong></strong> </td>
      <td></td>
    </tr>


</table>
