<% title "UOMs"  %>
<br />
<%= link_to 'Edit', edit_uom_path(@uom) %> |
<%= link_to 'Back', uoms_path %>
<br /><br />
<p>
  <b>Name:</b>
  <%=h @uom.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @uom.description %>
</p>



